 html, body {  
    margin: 0px !important;
    /*color: #7f8c8d;*/
    font-size: 16px;
    /*background-color: #dde1e2; */
    width: 100%;
 
 
    overscroll-behavior-y: contain;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

/* mapa   */
#mapid { 
	  height: 180px;
      position: absolute;
      top: 20px;
      left: 0px;
      right: 0px;
      bottom: 20px;
      width: 100%;
      padding: 0px;
      border: 0px;
}
